<div class="containter">
    <div class="row">
        <div class="col-md-7">
            <input type="text" class="form-control" [(ngModel)]="searchQuery" placeholder="Keresés tranzakció azonosító alapján">
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" (click)="search()">Keresés</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Tranzakciós azonosító</th>
                        <th scope="col">Átutaló</th>
                        <th scope="col">Kedvezményezett</th>
                        <th scope="col">Összeg (HUF)</th>
                        <th scope="col">Megjegyzés</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaction of transactions">
                        <td>{{transaction.transactionid}}</td>
                        <td>{{transaction.source?.accountnumber}}</td> 
                        <td>{{transaction.destination?.accountnumber}}</td>
                        <td>{{transaction.sumOfTransaction}}</td>
                        <td>{{transaction.description}}</td>
                      <!--

                            <td ><button class="btn btn-primary"
                                (click)="navigateToTransactionForm(transaction.transactionid)">Szerkesztés</button></td>
                      -->  
                        <td><button class="btn btn-danger"
                                (click)="deleteTransaction(transaction.transactionid)">Törlés</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button class="btn btn-success" routerLink="/transaction-form"> Új tranzakció</button>
        </div>
    </div>
</div>